<?xml version="1.0"?>
<config>
	<modules>
        <Vsourz_Catproduct>
            <version>0.1.0</version>
        </Vsourz_Catproduct>
    </modules>
	<frontend>
		<layout>
			<updates>
				<vsourz_catproduct>
					<file>vsourz/products_slider.xml</file>
				</vsourz_catproduct>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
        <layout>
            <updates>
                <vsourz_catproduct>
                    <file>vsourz/products_slider.xml</file>
                </vsourz_catproduct>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <vsourz_catproduct>
                <class>Vsourz_Catproduct_Block</class>
            </vsourz_catproduct>
        </blocks>
        <models>
            <vsourz_catproduct>
                <class>Vsourz_Catproduct_Model</class>
            </vsourz_catproduct>
        </models>
		<helpers>
			<vsourz_catproduct>
                <class>Vsourz_Catproduct_Helper</class>
            </vsourz_catproduct>
		</helpers>
    </global>
	<default>
		<vsourz_catproduct>
			<settings>
				<loadjs>false</loadjs>
				<loadowl>true</loadowl>
				<desktop>4</desktop>
				<ipadland>4</ipadland>
				<ipadport>3</ipadport>
				<smallland>2</smallland>
				<smallport>1</smallport>
				<autoplay>4000</autoplay>
				<navigation>true</navigation>
				<navigationcolor>000000</navigationcolor>
				<navigationhovercolor>3399CC</navigationhovercolor>
				<pagination>true</pagination>
				<paginationcolor>000000</paginationcolor>
				<paginationhovercolor>3399CC</paginationhovercolor>
			</settings>
			<productsettings>
				<imagewidth>275</imagewidth>
				<imageheight>275</imageheight>
				<rating>true</rating>
				<cartbutton>true</cartbutton>
				<wishlist>true</wishlist>
				<compare>true</compare>
				<new_product>New</new_product>
				<sale_product>Sale</sale_product>
			</productsettings>
		</vsourz_catproduct>
	</default>
</config>