	.codigo_cssformulariocustom{
		float: left;
		padding-right: 15px;
		
	}

	.codigo_htmlformulariocustom{
		float: left;
		padding-right: 15px;
	}

	.contenedor_vista_formulariocustom{
		float: left;
		border: double;
		height: 400px;
	}


	.codigo_htmlformulariocustom textarea {
		width:500px;
		height: 400px;
	}

	.codigo_cssformulariocustom textarea {
		width: 500px;
		height: 400px;
	}
