<?xml version="1.0"?>
<config>
  <modules>
    <Todopago_Modulodepago2>
      <version>1.8.2</version>
    </Todopago_Modulodepago2>
  </modules>
  <global>
    <helpers>
      <modulodepago2>
        <class>Todopago_Modulodepago2_Helper</class>
      </modulodepago2>
    </helpers>
    <models>
      <modulodepago2>
        <class>Todopago_Modulodepago2_Model</class>
        <resourceModel>modulodepago2_mysql4</resourceModel>
      </modulodepago2>
      <modulodepago2_mysql4>
        <class>Todopago_Modulodepago2_Model_Mysql4</class>
        <entities>
          <todopagotable>
            <table>todopagotable</table>
          </todopagotable>
        </entities>
      </modulodepago2_mysql4>
    </models>
    <blocks>
      <modulodepago2>
        <class>Todopago_Modulodepago2_Block</class>
      </modulodepago2>
      <adminhtml>
        <rewrite>
          <sales_order_creditmemo_totals>Todopago_Modulodepago2_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
        </rewrite>
      </adminhtml>
      <adminhtml>
        <rewrite>
          <sales_order_invoice_totals>Todopago_Modulodepago2_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
        </rewrite>
      </adminhtml>
      <adminhtml>
        <rewrite>
          <sales_order_totals>Todopago_Modulodepago2_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
        </rewrite>
      </adminhtml>
      <adminhtml>
        <rewrite>
          <sales_order_payment>Todopago_Modulodepago2_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
        </rewrite>
      </adminhtml>
      <sales>
        <rewrite>
          <order_totals>Todopago_Modulodepago2_Block_Sales_Order_Totals</order_totals>
        </rewrite>
      </sales>
      <sales>
        <rewrite>
          <order_invoice_totals>Todopago_Modulodepago2_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
        </rewrite>
      </sales>
      <sales>
        <rewrite>
          <order_creditmemo_totals>Todopago_Modulodepago2_Block_Sales_Order_Creditmemo_Totals</order_creditmemo_totals>
        </rewrite>
      </sales>      
    </blocks>
    <resources>
      <categoryattribute1425228037_setup>
        <setup>
          <module>Todopago_Modulodepago2</module>
          <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </categoryattribute1425228037_setup>
      <categoryattribute1425228037_write>
        <connection>
          <use>core_write</use>
        </connection>
      </categoryattribute1425228037_write>
      <categoryattribute1425228037_read>
        <connection>
          <use>core_read</use>
        </connection>
      </categoryattribute1425228037_read>
      <categoryattribute1416425150_setup>
        <setup>
          <module>Todopago_Modulodepago2</module>
          <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </categoryattribute1416425150_setup>
      <categoryattribute1416425150_write>
        <connection>
          <use>core_write</use>
        </connection>
      </categoryattribute1416425150_write>
      <categoryattribute1416425150_read>
        <connection>
          <use>core_read</use>
        </connection>
      </categoryattribute1416425150_read>
      <salesattribute1416425150_setup>
        <setup>
          <module>Todopago_Modulodepago2</module>
          <class>Mage_Sales_Model_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </salesattribute1416425150_setup>
      <salesattribute1416425150_write>
        <connection>
          <use>core_write</use>
        </connection>
      </salesattribute1416425150_write>
      <salesattribute1416425150_read>
        <connection>
          <use>core_read</use>
        </connection>
      </salesattribute1416425150_read>
    </resources>
  <events>
    <checkout_type_onepage_save_order_after> <!-- identifier of the event we want to catch -->
        <observers>
          <checkout_type_onepage_save_order_after_prepaiddiscount_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>modulodepago2/order</class> <!-- observers class alias -->
            <method>saveTodopagoCostoFinanciero</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </checkout_type_onepage_save_order_after_prepaiddiscount_handler>
        </observers>
      </checkout_type_onepage_save_order_after>       
    <checkout_type_multishipping_create_orders_single> <!-- identifier of the event we want to catch -->
        <observers>       
          <checkout_type_multishipping_create_orders_single_prepaiddiscount_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>modulodepago2/order</class> <!-- observers class alias -->
            <method>saveTodopagoCostoFinancieroMulti</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </checkout_type_multishipping_create_orders_single_prepaiddiscount_handler>       
        </observers>
      </checkout_type_multishipping_create_orders_single>
    </events>   
     <sales>
        <quote>
            <totals>               
                <todopago_costofinanciero>
                    <class>modulodepago2/quote_address_total_todopago</class>
                    <after>subtotal,freeshipping,tax_subtotal,shipping</after>
                    <before>grand_total</before>
                </todopago_costofinanciero>
            </totals>
        </quote>
            <order_invoice>
                <totals>               
                <todopago_costofinanciero>
                    <class>modulodepago2/order_invoice_total_todopago</class>
                    <after>subtotal,freeshipping,tax_subtotal,shipping</after>
                    <before>grand_total</before>
                </todopago_costofinanciero>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>               
                <todopago_costofinanciero>
                    <class>modulodepago2/order_creditmemo_total_todopago</class>
                    <after>subtotal,freeshipping,tax_subtotal,shipping</after>
                    <before>grand_total</before>
                </todopago_costofinanciero>
                </totals>
            </order_creditmemo>
    </sales>    
  </global>
<admin>
	<routers>
		<adminhtml>
			<args>
				<modules>
					<custom_module before="Mage_Adminhtml">Todopago_Modulodepago2_Adminhtml</custom_module>
				</modules>
			</args>
		</adminhtml>
	</routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <modulodepago2>
          <file>modulodepago2.xml</file>
        </modulodepago2>
      </updates>
    </layout>
  </adminhtml>
  <default>
    <payment>
      <modulodepago2>
        <model>modulodepago2/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Todo Pago</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </modulodepago2>
    </payment>
  </default>
  <frontend>
    <routers>
      <modulodepago2>
        <use>standard</use>
        <args>
          <module>Todopago_Modulodepago2</module>
          <frontName>modulodepago2</frontName>
        </args>
      </modulodepago2>
    </routers>
    <layout>
      <updates>
        <modulodepago2>
          <file>modulodepago2.xml</file>
        </modulodepago2>
      </updates>
    </layout>  
  </frontend>
</config>
