<?xml version="1.0" encoding="UTF-8"?>
<config>
	<sections>
		<payment>
			<groups>
				<modulodepago2 translate="label comment" module="paygate">
					<label>Todo Pago</label>
					<front-end>text</front-end>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<vers translate="label">
							<comment>Version del plugin</comment>
							<label>Version: </label>
							<frontend_type>label</frontend_type>
							<frontend_model>modulodepago2/system_config_version_front</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</vers>
						<active translate="label">
							<comment>Activa y desactiva el módulo de pago</comment>
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
							<title translate="label">
								<label>Nombre a mostrar en front end</label>
								<comment>Nombre con el que aparecera el Medio de Pago
								</comment>
								<frontend_type>text</frontend_type>
								<sort_order>11</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</title>
							<cs_verticales translate="label">
								<label>Segmento del Comercio</label>
								<frontend_type>select</frontend_type>
								<source_model>modulodepago2/system_config_source_csverticales
								</source_model>
								<comment>La elección del segmento determina los tipos de datos a enviar</comment>
								<sort_order>12</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</cs_verticales>
							<!--<cs_canaldeventa translate="label">
								<label>Canal de Ingreso del Pedido</label>
								<frontend_type>select</frontend_type>
								<source_model>modulodepago2/system_config_source_cscanalesdeventa
								</source_model>
								<comment></comment>
								<sort_order>43</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</cs_canaldeventa>-->
							<cs_deadline translate="label">
								<label>Dead Line</label>
								<frontend_type>text</frontend_type>
								<comment><![CDATA[días máximos para la entrega]]></comment>
								<sort_order>13</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</cs_deadline>

							<modo_test_prod translate="label">
								<comment>Debe ser cofigurado en CONFIGURACION - AMBIENTE DEVELOPERS / PRODUCCION</comment>
								<label>Ambiente Developers o Producción</label>
								<frontend_type>select</frontend_type>
								<source_model>modulodepago2/system_config_source_testproduccion</source_model>
								<sort_order>15</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</modo_test_prod>

						<hibrido translate="label">
							<comment>Activa o desactiva el formulario híbrido (Si: formulario híbrido insite, No: redirección a TodoPago)</comment>
							<label>Utilizar formulario híbrido</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>16</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</hibrido>
						
						<cuotas translate="label">
							<label>Cantidad máxima de Cuotas para ofrecer</label>
							<frontend_type>select</frontend_type>
							<source_model>modulodepago2/system_config_source_cuotas</source_model>
							<comment><![CDATA[cantidad máxima de cuotas que mostrará el formulario de pago]]></comment>
							<sort_order>17</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</cuotas>
						<cuotas_enabled translate="label">
						    <label>Habilitar maximo de cuotas</label>
						    <frontend_type>select</frontend_type>
						    <source_model>adminhtml/system_config_source_yesno</source_model>
						    <sort_order>18</sort_order>
						    <show_in_default>1</show_in_default>
						    <show_in_website>1</show_in_website>
						    <show_in_store>1</show_in_store>
						</cuotas_enabled>

							<label_ambiente>
								<label>CONFIGURACION - AMBIENTE DEVELOPERS / PRODUCCION</label>
								<frontend_type>label</frontend_type>
								<sort_order>20</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</label_ambiente>

									<credential_button  translate="label">
										<label><![CDATA[<b><u>Obtener Credenciales</b></u>]]></label>
										<button_label>Produccion</button_label>
										<button_url><![CDATA[adminhtml/credential/production]]></button_url>
										<sandbox_button_label>Developers</sandbox_button_label>
										<sandbox_button_url><![CDATA[adminhtml/credential/developers]]></sandbox_button_url>
										<sort_order>21</sort_order>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>								
										<frontend_model>modulodepago2/system_config_credential_front</frontend_model>
									</credential_button>
									<label_produccion>
										<label><![CDATA[<b><u>Ambiente Producción:
										</b></u>]]></label>
										<frontend_type>label</frontend_type>
										<sort_order>22</sort_order>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
									</label_produccion>
									<idstore>
										<label>Nro. de Comercio - Merchant ID</label>
										<validate>validate-length maximum-length-8
										</validate>
										<comment>Número de Comercio provisto por Todo Pago</comment>
										<frontend_type>text</frontend_type>
										<sort_order>23</sort_order>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
									</idstore>
									<codigo_seguridad>
										<label>Security code</label>
										<comment>API Keys sin PRISMA/TODOPAGO y sin espacio</comment>
										<frontend_type>text</frontend_type>
										<sort_order>24</sort_order>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
									</codigo_seguridad>
									<apikey>
										<comment>Ingresar el contenido del campo API Keys (Credenciales) del Portal de TodoPago. Ejemplo: "PRISMA 912EC803B2CE49E4A541068D495AB570"</comment>
											<label>API Keys</label>
											<frontend_type>text</frontend_type>
											<sort_order>25</sort_order>
											<show_in_default>1</show_in_default>
											<show_in_website>1</show_in_website>
											<show_in_store>1</show_in_store>
									</apikey>
									<label_test>
										<label><![CDATA[<b><u>Ambiente Developers:
										</b></u>]]></label>
										<frontend_type>label</frontend_type>
										<sort_order>26</sort_order>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
									</label_test>

									<idstore_test>
										<label>Nro. de Comercio - Merchant ID (Developers)</label>
										<validate>validate-length  maximum-length-8
										</validate>
										<comment>Número de Comercio provisto por Todo Pago</comment>
										<frontend_type>text</frontend_type>
										<sort_order>27</sort_order>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
									</idstore_test>

									<codigo_seguridad_test>
										<label>Security code (Developers)</label>
										<comment>API Keys sin PRISMA/TODOPAGO y sin espacio</comment>
										<frontend_type>text</frontend_type>
										<sort_order>28</sort_order>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
									</codigo_seguridad_test>
									<apikey_test>
										<comment>Ingresar el contenido del campo API Keys (Credenciales) del Portal de TodoPago. Ejemplo: "PRISMA 912EC803B2CE49E4A541068D495AB570"</comment>
											<label>API Keys</label>
											<frontend_type>text</frontend_type>
											<sort_order>29</sort_order>
											<show_in_default>1</show_in_default>
											<show_in_website>1</show_in_website>
											<show_in_store>1</show_in_store>
									</apikey_test>


							<todopago_avanzada>
								<label>CONFIGURACION - ESTADOS DEL PEDIDO</label>
								<frontend_type>label</frontend_type>
								<sort_order>30</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
						</todopago_avanzada>

									<order_status translate="label">
										<label>Estado del Pedido cuando la transacción esta "en proceso"
										</label>
										<comment>Para pagos con tarjetas de crédito mientras espera respuesta del gateway</comment>
										<frontend_type>select</frontend_type>
										<source_model>modulodepago2/system_config_source_pendingstatuses
										</source_model>
										<sort_order>31</sort_order>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
									</order_status>

									<order_aprov translate="label">
										<label>Estado del Pedido cuando la transacción fue Aprobada por el medio de pago
										</label>
										<comment>Estado final de la informado por el medio de pago</comment>
										<frontend_type>select</frontend_type>
										<source_model>modulodepago2/system_config_source_processingstatuses
										</source_model>
										<sort_order>32</sort_order>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
									</order_aprov>

								<estado_offline>
									<label>Estado del Pedido para "Cupon Emitido Pendiente de Pago"
									</label>
									<comment></comment>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_order_status
									</source_model>
									<sort_order>33</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</estado_offline>

								<estado_denegada>
									<label>Estado del pedido cuando la transacción fue Rechazada por el medio de pago
									</label>
									<comment>Cuando por cualquier motivo la transacción fue denegada</comment>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_order_status
									</source_model>
									<sort_order>34</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</estado_denegada>

												
						<todopago_servicio>
							<label>CONFIGURACION - SERVICIO</label>
							<frontend_type>label</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</todopago_servicio>
								<settimeoutvalue translate="label">
									<label>Time Out del Servicio de Pago
									</label>
									<frontend_type>text</frontend_type>
									<sort_order>41</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</settimeoutvalue>
								<certificado_pem translate="label">
									<label>ruta donde se encuentra el certificado</label>
									<frontend_type>text</frontend_type>
									<sort_order>42</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</certificado_pem>
								<proxyhost translate="label">
									<label>Proxy URL</label>
									<comment>Dato adicional en los casos que se utilice algún proxy</comment>
									<sort_order>43</sort_order>
									<frontend_type>text</frontend_type>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</proxyhost>
								
								<proxyport translate="label">
									<label>Proxy Port</label>
									<sort_order>44</sort_order>
									<frontend_type>text</frontend_type>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</proxyport>
								
								<proxyuser translate="label">
									<label>Proxy User</label>
									<frontend_type>text</frontend_type>
									<show_in_default>1</show_in_default>
									<sort_order>45</sort_order>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</proxyuser>
								
								<proxypassword translate="label">
									<label>Proxy Password</label>
									<frontend_type>text</frontend_type>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<sort_order>46</sort_order>
								</proxypassword>				
					</fields>
				</modulodepago2>
			</groups>
		</payment>
	</sections>
</config>

